# dist file for AntTweakBar
git      /extensions/AntTweakBar            https://github.com/OpenEngineDK/extensions-AntTweakBar.git
git-dev  /extensions/AntTweakBar            git@github.com:OpenEngineDK/extensions-AntTweakBar.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/AntTweakBar-win32.zip
